
.transaction-container {
    padding-top: 3rem;

}

.table-container {
    margin: 1.25rem;
    width: auto;
    overflow-x: auto;

}
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
.transaction-table thead {
    background-color: #f4f4f4;
}
.transaction-table th,
.transaction-table td {
    padding: 0.75rem 0.9375rem;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
}
.transaction-table tbody tr:nth-child(even) {
    background-color: darkslategray;
}
.transaction-table tbody tr:hover {
    background-color: blue;
}
.transaction-table tr td:last-child {
    padding-right: 3.125rem; /* 50px assuming the browser default of 16px for 1rem */
}

